*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
	background-color: #f1f8fc;
}

.form-container {
	width: 80%;
}

.container{
	background-color: #99C4C8 ;
	margin-top: 5%;
	justify-content: center;
	display:  flex;
	width: 300px;
	max-height: 100%;
	border-radius: 10px;
	padding: 20px;
}

.container .h2{
	text-align: left;
	font-size: 20px;

}

a{	
	display: block;
}

.field-input{
	margin-top: 20px;
}

.btn{
	background-color: #035397;
	border: none;
	margin-top: 20px;
}

.btn:hover{
	background-color: #E8630A;
}

form i {
    margin-left: -30px;
    cursor: pointer;

}

img{
	max-height: 100%;
	max-width: 100%;
}

.pasabuy{
	margin-right: auto;
	margin-left: auto;
	width: 300px;
}

a{
	margin-top: 5px;
	color: #E8630A;
	text-decoration: none;
}